<center>
  <h1>Welcome to Simple App</h1>
  <h2>Use the form below to find discrepancies in two or more 
    "Account Email, YouTube Channel, Subscriber Count" csv files.</h2>
  <h3>Optionally by concern: subscriber_count or channel_ownership</h3>
</center>
<%= form_tag upload_csv_path, method: :post,  multipart: true do |f| %>
  <p><%=label_tag 'CSV Files' %>
    <span class="font-smaller"> (select multiple)</span>
    <span class="font-smaller" id="csv-files-help-messages"></span>
    <%= file_field_tag("csv[files][]", id: 'csv-files', multiple: true, required:true, class: 'drop-target') %>
    <br/>
  </p>
  <p><%=label_tag 'Concern' %> <%=select_tag "csv[concern]", options_for_select(csv_concern_tag_options), include_blank:true %></p>
  <%= submit_tag "Submit", id:"submit", disabled:true, class: "btn btn-primary" %>
<% end %>
<% content_for :js do %>
  <script>
    Home.index()
  </script>
<% end %>